@use '~src/styles' as vars;

$red: #e01e37;
$yellow: #fe9922;
$green: #41a368;

$node-color: $green;
$edge-color: $red;

#arrow {
  fill: $edge-color;
  stroke: none;
}

.node {
  circle {
    stroke: vars.$background-color;
    stroke-width: 0.6;

    fill: #93c464;
  }
}

.edge {
  line {
    fill: none;
    stroke: $edge-color;
    stroke-width: 0.72;
  }
}
