@use '~src/styles' as vars;

$red: #e01e37;
$yellow: #fe9922;
$green: #41a368;

$node-color: $red;
$edge-color: white;

.svg-container {
  margin: 0;
  padding: 0;
}

svg {
  width: 100%;
  height: 100%;
}

#arrow {
  fill: $edge-color;
  stroke: none;
}

.node {
  circle {
    stroke: vars.$background-color;
    stroke-width: 0.6;

    fill: $node-color;
  }
}

.edge {
  line {
    fill: none;
    stroke: $edge-color;
    stroke-width: 0.72;
  }
}
