@use '~src/styles' as vars;

$red: #e01e37;

.svg-container {
  svg {
  }
}

//
.info {
  color: white;
  font-size: 10px;
}

.node {
  circle {
    stroke: vars.$background-color;
    stroke-width: 0.6;
  }
}

.edge {
  line {
    fill: none;
    stroke: #fe9922;
    stroke-width: 0.72;
  }
}

.arc {
  stroke: $red;
  fill: none;
}

circle.active {
  fill: $red;
}
path.active {
  stroke: #41a368;
}
circle.source {
  fill: #93c464;
}
circle.target {
  fill: #41a368;
}
