<nav class="menu">
  <div class="rainbow"></div>
  <ol>
    <li class="title">Graphs <3</li>
    <li class="dropdown">
      Select mode
      <ol class="dropdown-content">
        <li>
          <a (click)="selectDragMode()">Drag mode</a>
        </li>
        <li>
          <a (click)="selectCreateMode()">Create mode</a>
        </li>
        <!-- <li class="dropdown">
          <a (click)="addEdge(addEdgeWeight.value)">Add edge</a>
          <ol class="nested dropdown-content">
            <li>
              <a>weight</a>
              <input #addEdgeWeight type="text" />
            </li>
          </ol>
        </li> -->
      </ol>
    </li>
    <li class="dropdown">
      Select algorithm
      <ol class="dropdown-content">
        <li class="dropdown">
          <a>Breadth First Search</a>
          <ol class="nested dropdown-content">
            <li>
              <a>select starting nodes</a>
            </li>
          </ol>
        </li>
        <li><a>Depth First Search </a></li>
      </ol>
    </li>
    <li class="status">
      > So here we are
    </li>
  </ol>
</nav>
